body {
	font: 14px 'Century Gothic', Futura, sans-serif;
	margin: 20px;
}

.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.square {
	position: relative;
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 40px;
	font-weight: bold;
	height: 70px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0px;
	text-align: center;
	width: 70px;
	border-radius: 0;
	animation-name: circle-to-square;
	animation-duration: 0.25s;
	margin: 2px;
}

.circle {
	position: relative;
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 40px;
	font-weight: bold;
	height: 70px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0px;
	text-align: center;
	width: 70px;
	border-radius: 50%;
	animation-name: square-to-circle;
	animation-duration: 0.25s;
	margin: 2px;
}

@keyframes square-to-circle {
	0% {
		border-radius: 0;
	}
	100% {
		border-radius: 50%;
	}
}

@keyframes circle-to-square {
	0% {
		border-radius: 50%;
	}
	100% {
		border-radius: 0;
	}
}

.highlight {
	background: #607d8d;
}

.x {
	background: #0d47a1;
	border-color: #0d47a1;
	color: #fff;
}

.o {
	background: #009688;
	border-color: #009688;
	color: #fff;
}

.square:focus {
	border-color: #d50000;
	outline: none;
}

.circle:focus {
	outline: none;
	border-color: #d50000;
}

.game {
	display: flex;
	flex-direction: row;
}

.main-game {
	width: 700px;
	margin: 0 auto;
}
.mar {
	margin: 5px;
}

.game-info {
	margin-left: 20px;
}
