body {
	font: 14px 'Century Gothic', Futura, sans-serif;
	margin: 20px;
}

.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.square {
	position: relative;
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0px;
	text-align: center;
	width: 34px;
	border-radius: 0;
	animation-name: circle-to-square;
	animation-duration: 0.25s;
	margin: 2px;
}

.circle {
	position: relative;
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0px;
	text-align: center;
	width: 34px;
	border-radius: 50%;
	animation-name: square-to-circle;
	animation-duration: 0.25s;
	margin: 2px;
}

@keyframes square-to-circle {
	0% {
		border-radius: 0;
	}
	100% {
		border-radius: 50%;
	}
}

@keyframes circle-to-square {
	0% {
		border-radius: 50%;
	}
	100% {
		border-radius: 0;
	}
}

.highlight {
	background: #ff8;
}

.red {
	background: red;
	color: #fff;
}

.black {
	background: black;
}

.green {
	background: green;
	color: #fff;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.mar {
	margin: 5px;
}

.game-info {
	margin-left: 20px;
}
