.cell {
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	background: #fff;
	border: 1px solid #999;
	font-size: 24px;
	font-weight: bold;
	align-items: center;
	border-radius: 0;
}

.highlight {
	background: #ffdc00;
}

.x {
	color: #0074d9;
	border-color: #0074d9 !important;
}

.o {
	color: #2ecc40;
	border-color: #2ecc40 !important;
}

.x-win {
	background-color: #0074d9;
	border-color: #0074d9 !important;
	color: #fff;
}

.o-win {
	background-color: #2ecc40;
	border-color: #2ecc40 !important;
	color: #fff;
}

.d {
	background: #4e342e;
	border-color: #4e342e;
	color: #fff;
}

.cell:focus {
	border-color: #d50000;
	outline: none;
}

.container {
	display: flex;
	justify-content: center;
}

.center-all {
	align-items: center;
}

.full-height {
	height: 100%;
}

.game-wrapper {
	display: grid;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 9px;
	grid-template-columns: 80vmin;
	overflow: hidden;
}

.big-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	justify-content: center;
}

.small-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1px;
	justify-content: center;
}

.small-board button::before {
	content: '';
	padding-bottom: 100%;
	display: inline-block;
	vertical-align: top;
}

.game-info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	font-size: 1.5em;
}

@media only screen and (min-width: 500px) {
	.game-wrapper {
		font-size: 16px;
	}
}

@media only screen and (min-width: 700px) {
	.game-wrapper {
		font-size: 36px;
	}
}
